.App {
  font-family: Helvetica, serif; }

.navbar {
  background-color: #e4e4e4;
  padding: .8rem 1rem; }
  .navbar .nav-link {
    font-weight: bold; }
  .navbar .point {
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: bold;
    margin-left: 1rem; }
  .navbar .fa-coins {
    margin-right: 0.3rem; }
  .navbar .profile-img {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    padding: .25rem 0;
    clip-path: circle(1rem at center); }

.intro {
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap; }
  .intro .main {
    background-size: cover;
    color: white; }
    .intro .main p {
      font-weight: bold; }
    .intro .main .wrapper {
      margin: 4rem 3rem; }
      .intro .main .wrapper .title {
        font-size: 2rem; }
      .intro .main .wrapper .content {
        font-size: 1.2rem; }
      .intro .main .wrapper button {
        background-color: #FA6980;
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
        margin-top: 1.5rem; }
  .intro .news {
    padding: 3rem;
    background-color: white; }
    .intro .news .header {
      display: flex;
      border-bottom: 1px solid lightgray;
      margin-bottom: 1rem; }
      .intro .news .header .title {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        display: inline-block; }
      .intro .news .header .fas {
        font-size: 1.3rem;
        margin-right: 1rem; }
    .intro .news .items .item {
      margin-top: 1rem; }
      .intro .news .items .item .title {
        color: #FA6980;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.25rem; }
      .intro .news .items .item .content {
        font-size: 0.85rem;
        color: darkgray;
        cursor: pointer;
        margin-bottom: 0.3rem; }
        .intro .news .items .item .content:hover {
          color: darkslategray; }
      .intro .news .items .item .time {
        color: darkgray;
        font-size: .85rem; }
        .intro .news .items .item .time i {
          display: inline-block;
          vertical-align: middle;
          margin-right: .5rem; }

@media screen and (max-width: 960px) {
  .menu-section {
    margin: 3rem 3rem; } }
@media screen and (min-width: 960px) {
  .menu-section {
    margin: 3rem 8rem; } }
.menu-section .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 2rem; }
.menu-section .cards {
  display: flex; }

.card-menu {
  margin-bottom: 2rem; }
  .card-menu .card-img {
    cursor: pointer; }
  .card-menu .card-title {
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer; }
  .card-menu .card-text {
    font-size: .9rem;
    color: darkgray;
    display: -webkit-box;
    white-space: normal;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; }
    .card-menu .card-text:hover {
      color: darkslategray; }

.footer {
  background-color: #A6ADB4;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-weight: bold; }
  @media screen and (max-width: 960px) {
    .footer {
      padding: 2rem 3rem; } }
  @media screen and (min-width: 960px) {
    .footer {
      padding: 3rem 8rem; } }
  .footer .main {
    display: flex;
    flex-wrap: wrap; }
    .footer .main .logo {
      font-size: 1.3rem;
      padding-right: 1.5rem;
      margin-bottom: 1rem; }
    .footer .main .indices {
      display: flex;
      color: #CBD0D3;
      flex-wrap: wrap; }
      .footer .main .indices .index {
        font-size: 0.7rem;
        width: 25%;
        margin-right: 1.5rem;
        margin-bottom: 0.85rem;
        cursor: pointer; }
        .footer .main .indices .index:hover {
          color: white; }
  .footer .social {
    margin-left: auto; }
    .footer .social .icon {
      margin-right: 1rem;
      cursor: pointer; }

.label-class, .label-bounding {
  padding: 2rem;
  background-color: white; }
  .label-class h5, .label-bounding h5 {
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem; }
  .label-class button, .label-bounding button {
    color: #FA6980;
    border-color: #FA6980;
    align-self: flex-end; }
    .label-class button:hover, .label-class button:active, .label-bounding button:hover, .label-bounding button:active {
      background-color: #FA6980;
      color: white; }

.label-class .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .label-class .content .image {
    padding: 0; }
    .label-class .content .image img {
      width: 100%; }
  .label-class .content .control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }
    .label-class .content .control .options {
      display: flex;
      flex-wrap: wrap; }
      .label-class .content .control .options .option {
        width: 45%; }
        .label-class .content .control .options .option input {
          margin-right: 1rem;
          margin-bottom: 1rem; }
    .label-class .content .control button {
      align-self: center;
      margin-top: 2rem;
      width: 80%; }

.label-bounding .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .label-bounding .content .canvas {
    padding: 0; }
    .label-bounding .content .canvas h6 {
      font-weight: bold; }
  .label-bounding .content .control {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .label-bounding .content .control .images img {
      margin: 1rem; }
      .label-bounding .content .control .images img:hover {
        opacity: 0.5; }
    .label-bounding .content .control button {
      align-self: flex-end;
      width: 80%; }

/*# sourceMappingURL=App.css.map */
