.App {
	text-align: center;
	font-family: Helvetica, serif;
}

.nav-link {
	font-weight: bold;
}

.point{
	display: block;
	padding: .5em 1em;
	font-weight: bold;
	margin-left: 1em;
}

.fa-coins{
	margin-right: 0.3em;
}

.profile-img{
	display: block;
	height: 2.5em;
	padding: .25em 0;
}
